<html>
  <head>
    <title>Add IS</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section class="statement-show group">
      <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
      <article class="statement-content group">
        <h2>Add to Income Statement</h2><br>
        <div class="editing">
          <form action="<%= add_year_user_company_income_statement_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <table>
              <tr>
                <td><label>Year<input type="text" name="set_year"></label></td>
              </tr>
              <tr>
                <th>Line item:</th>
                <% 4.times do |i| %>
                  <th></th>
                  <th></th>
                  <th><%= "#{i + 1}Q" %></th>
                <% end %>
              </tr>
              <% @list_items.each_with_index do |(metric_name, name), i| %>
                <tr>
                  <td><%= name %></td>
                  <% 4.times do |j| %>
                    <td>
                      <input type="hidden" name="income[metrics_attributes][<%= i + j %>][name]"
                      value="<%= metric_name %>"></td>
                    <td>
                      <input type="hidden" name="income[metrics_attributes][<%= i + j %>][quarter]" value="<%= j + 1 %>"></td>
                    <td>
                      <input type="text" name="income[metrics_attributes][<%= i + j %>][value]">
                    </td>
                <% end %>
                </tr>
              <% end %>
            </table>
            <input type="submit" value="Add Year">
          </form>
        </div>
        <div class="edit-nav">
          <a href="<%= add_user_company_income_statement_url %>"
            id="add_year_link">Add year</a><br>

          <br><%= link_to "Back", :back %>
        </div>
      </article>
    </section>
  </body>
</html>