<html>
  <head>
    <title>Edit IS</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section class="income-edit group">
      <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
      <article class="edit-IS-form group">
        <h2>Edit IS Quarter</h2><br>
        <div class="quarter-picker group">
          <form action="<%= edit_user_company_income_statement_url %>" method="get">
            <label>
              Quarter<input type="number" name="quarter" value="<%= @quarter %>">
            </label>
            <label>
              Year<input type="number" name="year" value="<%= @year %>">
            </label>
            <button type="submit" class="edit-income-button">Edit Q</button></form>
        </div>
        <form action="<%= user_company_income_statement_url %>" method="post"
          class="group" style="float:left;">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="put">
          <table>
            <tr>
              <th>Line item</th>
            </tr>
            <% @metric_tree.each_with_index do |(item, details), m_i| %>
            <tr>
              <% if details[@year][@quarter] %>
                <td><%= item %></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= m_i %>][id]"
                  value="<%= details[@year][@quarter].id %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= m_i %>][value]"
                  value="<%= details[@year][@quarter].value %>"></td>
              <% end %>
            </tr>
            <% end %>
            <tr>
              <td><h2>Add to Q</h2></td>
            </tr>
            <tr>
              <% unless @metric_tree["Revenue"][@year][@quarter] %>
              <td>Revenue</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][name]"
                  value="revs"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Cost of Goods Sold"][@year][@quarter] %>
                <td>Cost of Goods Sold</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 1 %>][name]"
                  value="cogs"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus + 1 %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 1 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 1 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Research & Development"][@year][@quarter] %>
                <td>Research & Development</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 3 %>][name]"
                  value="rd"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus + 3 %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 3 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 3 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["SG&A Expense"][@year][@quarter] %>
                <td>SG&A Expense</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 4 %>][name]"
                  value="sga"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus + 4 %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 4 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 4 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Interest Expense"][@year][@quarter] %>
                <td>Interest Expense</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 5 %>][name]"
                  value="interest"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus + 5 %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 5 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 5 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Tax Expense"][@year][@quarter] %>
                <td>Income Tax</td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 6 %>][name]"
                  value="tax"></td>
                <td><input type="text" name="income[metrics_attributes][<%= @surplus + 6 %>][value]"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 6 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= @surplus + 6 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
          </table>
          <input type="submit" value="Update">
        </form>
      </article>
      <br><%= link_to "Back", :back %>
    </section>

  </body>
</html>