<html>
  <head>
    <title>New IS</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-IS-form">
        <h2>New Income Statement</h2><br>
        <form action="<%= user_company_income_statement_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <table>
            <tr>
              <th>Line item:</th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= "#{@quarters[0][0]}Q#{@quarters[0][1]}" %></th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= "#{@quarters[1][0]}Q#{@quarters[1][1]}" %></th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= "#{@quarters[2][0]}Q#{@quarters[2][1]}" %></th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= "#{@quarters[3][0]}Q#{@quarters[3][1]}" %></th>
            </tr>
            <tr>
              <td>Revenue:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i %>][name]"
                  value="revs"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i %>][value]"
                  value=""></td>

              <% end %>
            </tr>
            <tr>
              <td>Cost of Goods Sold:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 1 %>][name]"
                  value="cogs"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 1 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 1 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i + 1 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Research & Development:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 3 %>][name]"
                  value="rd"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 3 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 3 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i + 3 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Selling, General, & Administrative:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 4 %>][name]"
                  value="sga"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 4 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 4 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i + 4 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Interest Expense:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 5 %>][name]"
                  value="interest"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 5 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 5 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i + 5 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Income Tax:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 6 %>][name]"
                  value="tax"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 6 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="income[metrics_attributes][<%= q_i + 6 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="income[metrics_attributes][<%= q_i + 6 %>][value]"></td>
              <% end %>
            </tr>
          </table>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>