<html>
  <head>
    <title>Edit CF</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section class="statement-show group">
      <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
      <article class="statement-content group">
        <h2>Edit CF Quarter</h2><br>
        <div class="quarter-picker group">
          <form action="<%= edit_user_company_cash_flow_url %>" method="get">
            <label>
              Quarter<input type="number" name="quarter" value="<%= @quarter %>">
            </label>
            <label>
              Year<input type="number" name="year" value="<%= @year %>">
            </label>
            <input type="submit" value="Switch to Q" style="margin-top:-5px;">
          </form>
        </div>
        <div class="editing">
          <form action="<%= user_company_cash_flow_url %>" method="post"
            class="group">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="put">
            <table>
              <tr>
                <th>Line item</th>
              </tr>
              <% @metric_tree.each_with_index do |(item, details), m_i| %>
              <% next unless CashFlow.relevant.has_value?(item) %>
              <tr>
                <% if details[@year][@quarter] %>
                  <td><%= item %></td>
                  <td><input type="hidden" name="cashflow[metrics_attributes][<%= m_i %>][id]"
                    value="<%= details[@year][@quarter].id %>"></td>
                  <td><input type="text" name="cashflow[metrics_attributes][<%= m_i %>][value]"
                    value="<%= details[@year][@quarter].value %>"></td>
                <% end %>
              </tr>
              <% end %>
              <% unless @full_statement %>
                <tr>
                  <td><h2>Add to Q</h2></td>
                </tr>
                <% CashFlow.relevant.each do |metric_name, name| %>
                  <% unless @metric_tree[name][@year][@quarter] %>
                    <tr>
                      <td><%= name %></td>
                      <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][name]" value="<%= metric_name %>"></td>
                      <td><input type="text" name="income[metrics_attributes][<%= @surplus %>][value]"></td>
                      <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][quarter]" value="<%= @quarter %>"></td>
                      <td><input type="hidden" name="income[metrics_attributes][<%= @surplus %>][year]" value="<%= @year %>"></td>    
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </table>
            <input type="submit" value="Update">
          </form>
        </div>
        <div class="edit-nav">
          <a href="<%= add_user_company_cash_flow_url %>"
            id="add_year_link">Add year</a><br>

          <br><%= link_to "Back", :back %>
        </div>
      </article>
    </section>
  </body>
</html>