<html>
  <head>
    <title>Edit CF</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section class="cash-edit group">
      <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
      <article class="edit-CF-form group">
        <h2>Edit CF Quarter</h2><br>
        <div class="quarter-picker group">
          <form action="<%= edit_user_company_cash_flow_url %>" method="get">
            <label>
              Quarter<input type="number" name="quarter" value="<%= @quarter %>">
            </label>
            <label>
              Year<input type="number" name="year" value="<%= @year %>">
            </label>
            <button type="submit" class="edit-cash-button">Edit Q</button></form>
        </div>
        <form action="<%= user_company_cash_flow_url %>" method="post"
          class="group" style="float:left;">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="put">
          <table>
            <tr>
              <th>Line item</th>
            </tr>
            <% @metric_tree.each_with_index do |(item, details), m_i| %>
            <tr>
              <% if details[@year][@quarter] %>
                <td><%= item %></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= m_i %>][id]"
                  value="<%= details[@year][@quarter].id %>"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= m_i %>][value]"
                  value="<%= details[@year][@quarter].value %>"></td>
              <% end %>
            </tr>
            <% end %>
            <tr>
              <td><h2>Add to Q</h2></td>
            </tr>
            <tr>
              <td><h3>Operating Activities</h3></td>
            </tr>
            <tr>
              <% unless @metric_tree["Depreciation"][@year][@quarter] %>
                <td>Depreciation</td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus %>][name]"
                  value="depreciation"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= @surplus %>][value]"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <td><h3>Investing Activities</h3></td>
            </tr>
            <tr>
              <% unless @metric_tree["Investments"][@year][@quarter] %>
                <td>Investments</td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 5 %>][name]"
                  value="investments"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= @surplus + 5 %>][value]"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 5 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 5 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <td><h3>Financing</h3></td>
            </tr>
            <tr>
              <% unless @metric_tree["Dividends Paid"][@year][@quarter] %>
                <td>Dividends Paid</td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 6 %>][name]"
                  value="divs_paid"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= @surplus + 6 %>][value]"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 6 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 6 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Stock Financing"][@year][@quarter] %>
                <td>Stock Financing</td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 7 %>][name]"
                  value="stock_financing"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= @surplus + 7 %>][value]"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 7 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 7 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>
            <tr>
              <% unless @metric_tree["Debt Financing"][@year][@quarter] %>
                <td>Debt Financing</td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 8 %>][name]"
                  value="debt_financing"></td>
                <td><input type="text" name="cashflow[metrics_attributes][<%= @surplus + 8 %>][value]"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 8 %>][quarter]"
                  value="<%= @quarter %>"></td>
                <td><input type="hidden" name="cashflow[metrics_attributes][<%= @surplus + 8 %>][year]"
                  value="<%= @year %>"></td>
              <% end %>
            </tr>

          </table>
          <input type="submit" value="Update">
        </form>
      </article>
      <br><%= link_to "Back", :back %>
    </section>

  </body>
</html>