<head>
<script type="text/javascript">
  function drawVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Quarter');

    gon.columns.forEach(function(item, index, array) {
      if(index % 2 === 0){
        data.addColumn(item[0], item[1]);
      }
      else{
        data.addColumn({type: item[0], role: item[1]});
      }
    });
    
    data.addRows(gon.details);        

    var options = {
      title : 'Cash Flow',
      hAxis: {title: "Quarter"},
      seriesType: "bars"
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  google.setOnLoadCallback(drawVisualization);
</script>
</head>
<body>
  <%= render :partial => 'shared/logoutheader' %>
  <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
  <section class="statement-show group">
    <form action="<%= new_user_project_url %>" method="get">
      <button type="submit" id="new_project_button">Create New Project</button>
    </form>

    <article class="statement-content group">
      <div class="statement-ttm">
        <table>
          <tr>
            <th>Line item</th>
            <% @quarters.reverse.each_with_index do |quarter, q_i| %>
              <th><%= "#{quarter[0]}Q#{quarter[1]}" %></th>
            <% end %>
          </tr>
          <% @metric_tree.each do |item, details| %>
            <% next unless CashFlow.relevant.has_value?(item) %>
            <tr>
              <td><%= item %></td>
              <% @quarters.reverse.each_with_index do |q, q_i| %>
                <td><% if details[q[1]][q[0]] %>
                      <%= details[q[1]][q[0]].value.round(1) %>
                    <% else %>
                    0
                    <% end %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <div id="chart_div"></div>
      </div>
      <div class="meta-ttm">
        <table>
          <tr>
            <th>Composite</th>
            <% @quarters.reverse.each_with_index do |quarter, q_i| %>
              <th><%= "#{quarter[0]}Q#{quarter[1]}" %></th>
            <% end %>
          </tr>
          <tr>
            <td>Operating Cash Flow</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.operating_cash_flow(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Free Cash Flow</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.free_cash_flow(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Chg in Accts Receivable</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.delta_receivables(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Chg in Inventory</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.delta_inventory(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Chg in Liabilities</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.delta_liabilities(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Capital Expenditure</td>
            <% @quarters.reverse.each_with_index do |q, q_i| %>
              <td><%= @cash_flow.capex(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
        </table>
      </div>
      <% unless @assumptions.empty? %>
      <div class="assumptions">
        <ul><strong>Assumptions</strong><br>
          <% @assumptions.each do |assume| %>
            <% if assume.assumption_type == "growth" %>
              <li> <%= assume.value*100 %>% <%= assume.time_unit %>/<%= assume.time_unit %>
                <%= assume.name %> growth</li>
            <% else %>
            <li>
              <% if assume.value > 1.001 %>
                $<%= assume.value %>mm in <%= assume.name %> per
                <%= assume.time %>
              <% else %>
                <%= assume.value*100 %>% in <%= assume.name %> per
                <%= assume.time %>
              <% end %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="pseudo-nav">
        <a href="<%= add_user_company_cash_flow_url %>"
          id="add_year_link">Add year</a><br>
        <form action="<%= edit_user_company_cash_flow_url %>" method="get"
          class="edit-button">
          Edit
          <label>Quarter<input type="number" name="quarter"></label>
          <label>Year<input type="number" name="year"></label>
          <input type="submit" value="Edit Q" style='margin-top:-2px'></form><br>

        <div class="financials">
          <strong>Financials</strong><br>
          <ul>
            <li><%= link_to "Income Statement", user_company_income_statement_url %></li>
            <li><%= link_to "Balance Sheet", user_company_balance_sheet_url %></li>
          </ul>
        </div>
        <br><%= link_to "Back", :back %>
      </div>
    </article>
  </section>
</body>