<html>
  <head>
    <title>New BS</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-form">
        <h2>New Balance Sheet</h2><br>
        <form action="<%= user_company_balance_sheet_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <table>
            <tr>
              <th>Line item</th>
              <% @quarters.each_with_index do |quarter, q_i| %>
                <th></th>
                <th></th>
                <th></th>
                <th><%= "#{@quarters[q_i][0]}Q#{@quarters[q_i][1]}" %></th>
              <% end %>
            </tr>
            <% @list_items.each_with_index do |(item, name), i| %>
              <tr>
                <td><%= name %></td>
                <% @quarters.each_with_index do |q, q_i| %>
                  <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + i %>][name]"
                    value="<%= item %>"></td>
                  <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + i %>][quarter]"
                    value="<%= q[0] %>"></td>
                  <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + i %>][year]"
                    value="<%= q[1] %>"></td>
                  <td>
                    <input type="text" name="balance[metrics_attributes][<%= q_i + i %>][value]"></td>
                <% end %>
              </tr>
            <% end %>
          </table>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>