<html>
  <head>
    <title>New BS</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-BS-form">
        <h2>New Balance Sheet</h2><br>
        <form action="<%= user_company_balance_sheet_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <table>
            <tr>
              <th>Line item</th>
              <% @quarters.each_with_index do |quarter, q_i| %>
                <th></th>
                <th></th>
                <th></th>
                <th><%= "#{@quarters[q_i][0]}Q#{@quarters[q_i][1]}" %></th>
              <% end %>
            </tr>
            <tr>
              <td><h3>Assets</h3></td>
            </tr>
            <tr>
              <td>Cash</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i %>][name]"
                  value="cash"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Accounts Receivable</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 1 %>][name]"
                  value="receivables"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 1 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 1 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 1 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Inventory</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 2 %>][name]"
                  value="inventory"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 2 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 2 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 2 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Long Term Investments</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 3 %>][name]"
                  value="lti"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 3 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 3 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 3 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Property, Plant & Equipment</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 4 %>][name]"
                  value="ppe"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 4 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 4 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 4 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Goodwill</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 5 %>][name]"
                  value="goodwill"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 5 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 5 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 5 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Amortization</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 6 %>][name]"
                  value="amortization"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 6 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 6 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 6 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td><h3>Liabilities</h3></td>
            </tr>
            <tr>
              <td>Accounts Payable</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 7 %>][name]"
                  value="payables"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 7 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 7 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 7 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Short-term Debt</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 8 %>][name]"
                  value="std"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 8 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 8 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 8 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Long-term Debt</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 9 %>][name]"
                  value="ltd"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 9 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 9 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 9 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td><h3>Equity</h3></td>
            </tr>
            <tr>
              <td>Average Common Stock Price</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 13 %>][name]"
                  value="common_price"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 13 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 13 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 13 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td> Quantity Common Stock</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 10 %>][name]"
                  value="common_quantity"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 10 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 10 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 10 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Average Preferred Stock Price</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 14 %>][name]"
                  value="preferred_price"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 14 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 14 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 14 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Quantity Preferred Stock</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 11 %>][name]"
                  value="preferred_quantity"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 11 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 11 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 11 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Average Treasury Stock Price</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 15 %>][name]"
                  value="treasury_price"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 15 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 15 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 15 %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Quantity Treasury Stock</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 12 %>][name]"
                  value="treasury_quantity"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 12 %>][quarter]"
                  value="<%= q[0] %>"></td>
                <td><input type="hidden" name="balance[metrics_attributes][<%= q_i + 12 %>][year]"
                  value="<%= q[1] %>"></td>
                <td><input type="text" name="balance[metrics_attributes][<%= q_i + 12 %>][value]"></td>
              <% end %>
            </tr>
          </table>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>