<head>
<script type="text/javascript">
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Quarter');

      gon.columns.forEach(function(item, index, array) {
        if(index % 2 === 0){
          data.addColumn(item[0], item[1]);
        }
        else{
          data.addColumn({type: item[0], role: item[1]});
        }
      });
      
      data.addRows(gon.details);        

      var options = {
        title : 'Balance Sheet',
        hAxis: {title: "Quarter"},
        seriesType: "bars"//,
        // series: {5: {type: "line"}}
      };

      var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    google.setOnLoadCallback(drawVisualization);
</script>
</head>
<body>
  <%= render :partial => 'shared/logoutheader' %>
  <section class="balance-show group">
    <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
    <form action="<%= new_user_project_url %>" method="get" style="float:right">
      <button type="submit" class="new-project-button">Create New Project</button></form>
      <a href="<%= add_user_company_balance_sheet_url %>"
        style="display:block;float:left;margin-right:20px;">Add year</a>
      <form action="<%= edit_user_company_balance_sheet_url %>" method="get" style="float:left">
        <label>Quarter<input type="number" name="quarter"></label>
        <label>Year<input type="number" name="year"></label>
        <button type="submit" class="edit-button">Edit Q</button></form>

    <article class="balance-content group">
      <div class="statement-ttm">
        <table>
          <tr>
            <th>Line item</th>
            <% @quarters.each_with_index do |quarter, q_i| %>
              <th><%= "#{quarter[0]}Q#{quarter[1]}" %></th>
            <% end %>
          </tr>
          <% @metric_tree.each do |item, details| %>
            <% next unless BalanceSheet.relevant.has_value?(item) %>
            <tr>
              <td><%= item %></td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><% if details[q[1]][q[0]] %>
                    <%= details[q[1]][q[0]].value.round(1) %>
                  <% else %>
                    0
                  <% end %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="meta-ttm">
        <table>
          <tr>
            <th>Stat</th>
            <% @quarters.each_with_index do |quarter, q_i| %>
              <th><%= "#{quarter[0]}Q#{quarter[1]}" %></th>
            <% end %>
          </tr>
          <tr>
            <td>Debt to Equity</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.debt_to_equity(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Cash per Share</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.cash_per_share(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Current Ratio</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.current_ratio(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Book Value</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.book_value(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Capital Expenditure</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.capex(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
          <tr>
            <td>Working Capital</td>
            <% @quarters.each_with_index do |q, q_i| %>
              <td><%= @balance.working_capital(@metric_tree, q[0], q[1]).round(1) %></td>
            <% end %>
          </tr>
        </table>
      </div>
      <% if @assumptions %>
      <div class="show-assumptions">
        <ul><strong>Assumptions</strong><br>
          <% @assumptions.each do |assume| %>
            <% if assume.assumption_type == "growth" %>
              <li> <%= assume.value*100 %>% <%= assume.time_unit %>/<%= assume.time_unit %>
                <%= assume.name %> growth</li>
            <% else %>
            <li>
              <% if assume.value > 1.001 %>
                $<%= assume.value %>mm in <%= assume.name %> per
                <%= assume.time %>(s)
              <% else %>
                <%= assume.value*100 %>% in <%= assume.name %> per
                <%= assume.time %>(s)
              <% end %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div id="chart_div"></div>
      <% unless @projects.nil? %>
      <div class="show-projects">
        <% @projects.each do |project| %>
          <a href="<%= user_project_url(project) %>"><%= project.name %></a>
        <% end %>
      </div>
      <% end %>
      <div class="financials">
        <ul>
          <li><strong>Financials</strong></li>
          <li><%= link_to "Income Statement", user_company_income_statement_url %></li>
          <li><%= link_to "Cash Flow Statement", user_company_cash_flow_url %></li>
        </ul>
      </div>
      <br><%= link_to "Back", :back %><br>
      <br><span id="user-email"><%= @user.email %></span>
    </article>
  </section>
</body>