<html>
  <head>
    <title>New Company</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-company-form">
        <h2>New Company Profile</h2>
        <form action="<%= user_company_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <table>
            <tr>
              <td><strong>Name</strong></td>
              <td><input name="company[name]"></td>
            </tr>
            <tr>
              <td><strong>Headquarters</strong></td>
              <td><textarea name="company[headquarters]"
            style="vertical-align:top"></textarea></td>
            </tr>
            <tr>
              <td><strong># of Employees</strong></td>
              <td><input type="number"></td>
            </tr>
            <tr>
              <td><strong>Industries</strong></td>
            <% 3.times do |i| %>
                <td>
                  <select name="company[company_industries_attributes][<%= i %>][industry_id]">
                    <option>
                    </option>
                    <% @industries.each do |industry| %>
                      <option value="<%= industry.id %>"><%= industry.name %></option>
                    <% end %>
                  </select>
                </td>
            <% end %>
            </tr>
            <tr>
              <td><strong>Assumptions</strong></td>
            </tr>
            <tr>
            </tr>
            <% 3.times do |i| %>
            <tr>
              <td>Assumption <%= i + 1 %> Metric</td>
              <td>
                <select name="company[assumptions_attributes][<%= i %>][metric_name]">
                  <option>
                  </option>
                  <% @assumes.each do |assume| %>
                    <option value="<%= assume.metric_name %>"><%= assume.name %>
                    </option>
                  <% end %>
                </select>
              </td>
            </tr>
            <tr>
              <td>Metric Value</td>
              <td><input name="company[assumptions_attributes][<%= i %>][value]">
            </tr>
            <tr>
              <td>Assumption Type</td>
              <td><input type="radio" name="company[assumptions_attributes][<%= i %>][assumption_type]"
                value="growth">Growth</td>
              <td><input type="radio" name="company[assumptions_attributes][<%= i %>][assumption_type]"
                value="run_rate">Run Rate</td>
            </tr>
            <tr>
              <td>Assumption Time Units</td>
              <td><input type="radio" name="company[assumptions_attributes][<%= i %>][time_unit]"
                value="q">Quarter</td>
              <td><input type="radio" name="company[assumptions_attributes][<%= i %>][time_unit]"
                value="y">Year</td>
            </tr>
            <tr>
              <td> </td>
            </tr>
            <tr>
              <td> </td>
            </tr>
            <% end %>
          </table>
          <!-- upload company logo -->
          <br>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>