<html>
  <head>
    <title>New Company</title>
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-company-form">
        <h2>New Company Profile</h2>
        <form action="<%= user_company_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <label>Name<input name="company[name]"></label><br>
          <label>Headquarters<textarea name="company[headquarters]"
            style="vertical-align:top"></textarea></label><br>
          <label># of Employees<input type="number"></label><br>
          <label>Industries
            <% 3.times do |i| %>
              <select name="company[company_industries_attributes][<%= i %>][industry_id]">
                <option>
                </option>
                <% @industries.each do |industry| %>
                  <option value="<%= industry.id %>"><%= industry.name %></option>
                <% end %>
              </select>
            <% end %>
          </label><br>
          <strong>Assumptions</strong><br>
          <% 3.times do |i| %>
            <label>Assumption <%= i + 1 %> Metric
              <select name="company[assumptions_attributes][<%= i %>][metric_name]">
                <option>
                </option>
                <% @assumes.each do |assume| %>
                  <option value="<%= assume.metric_name %>"><%= assume.name %>
                  </option>
                <% end %>
              </select>
            </label><br>
            <label>Metric Value
              <input name="company[assumptions_attributes][<%= i %>][value]">
            </label><br>
            <label>Assumption Type
              <label>Growth<input type="radio" name="company[assumptions_attributes][<%= i %>][assumption_type]"
                value="growth"></label>
              <label>Run Rate
                <input type="radio" name="company[assumptions_attributes][<%= i %>][assumption_type]"
                value="run_rate"></label>
            </label><br>
            <label>Assumption Time Units
              <label>Quarter
                <input type="radio" name="company[assumptions_attributes][<%= i %>][time_unit]"
                value="q"></label>
              <label>Year
                <input type="radio" name="company[assumptions_attributes][<%= i %>][time_unit]"
                value="y"></label><br>
            <% end %>
          </table>
          <!-- upload company logo -->
          <br>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>