<html>
  <head>
    <title>New BS</title>
    <link rel="stylesheet" href="./assets/stylesheets/register.css"
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-BS-form">
        New Balance Sheet<br>
        <form action="<%= user_company_balance_sheet_url %>" method="post">
          <table>
            <tr>
              <th>Line item:</th>
              <th><%= @quarters[0] %></th>
              <th><%= @quarters[1] %></th>
              <th><%= @quarters[2] %></th>
              <th><%= @quarters[3] %></th>
            </tr>
            <tr>
              Assets
            </tr>
            <tr>
              <td>Cash:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="cash"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Accounts Receivable:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="receivables"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Inventory:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="inventory"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Long Term Investments:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="lti"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Property, Plant & Equipment:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="ppe"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Goodwill:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="goodwill"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Amortization:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="amortization"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              Liabilities
            </tr>
            <tr>
              <td>Accounts Payable:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="payables"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Short-term Debt:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="std"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Long-term Debt:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="ltd"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              Equity
            </tr>
            <tr>
              <td>Common Stock:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="common"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Preferred Stock:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="preferred"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
            <tr>
              <td>Treasury Stock:</td>
              <% @quarters.each_with_index do |q, q_i| %>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][name]"
                  value="treasury"></td>
                <td><input type="hidden" name="balance[metric_attributes][<%= q_i %>][period]"
                  value="<%= q %>"></td>
                <td><input type="text" name="balance[metric_attributes][<%= q_i %>][value]"></td>
              <% end %>
            </tr>
          </table>
          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>