<html>
  <head>
    <title>New Company</title>
    <link rel="stylesheet" href="./assets/stylesheets/register.css"
  </head>

  <body>
    <%= render :partial => "shared/logoutheader" %>

    <section>
      <div class="new-company-form">
        New Company Profile<br>
        <form action="<%= user_company_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <label>Name:<input name="company[name]"></label><br>

          <label>Headquarters:<textarea name="company[headquarters]"></textarea></label><br>

          <label>Industry:
          <select>
            <% @industries.each do |industry| %>
              <option value="<%= industry.id %>"><%= industry.name %></option>
            <% end %>
          </select></label><br>

          <label># of Employees: <input type="number"></label><br>
          <!-- upload company logo -->

          <input type="submit" value="Next">
        </form>
      </div>
    </section>
  </body>
</html>