<head>
</head>
<body>
  <%= render :partial => 'shared/logoutheader' %>
  <section class="company-show group">
    <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
    <form action="<%= new_user_project_url %>" method="post" style="float:right">
      <button type="submit" class="new-project-button">Create New Project</button></form>
    <article class="company-content group">
      <div class="company-totals">
        <span class="company-name"><%= @company.name %></span><br>
        <span class="company-headquarters"><%= @company.headquarters %></span><br>
        <% if @company.industries %>
        <ul class="company-industries">
          <% @company.industries.each do |industry| %>
            <li><%= industry.name %></li>
          <% end %>
        </ul>
        <% end %>
        <span class="company-employees"><%= @company.employees %></span>
      </div>
      <% if @assumptions %>
      <div class="show-assumptions">
        <ul>Assumptions<br>
          <% @assumptions.each do |assume| %>
            <% if assume.assumption_type == "growth" %>
              <li> <%= assume.value*100 %>% <%= assume.time_unit %>/<%= assume.time_unit %>
                <%= assume.name %> growth</li>
            <% else %>
            <li><%= assume.value %> <%= assume.name %> in <%= assume.timespan %>
              <%= assume.time %>(s)</li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% unless @projects.nil? %>
      <div class="show-projects">
        <% @projects.each do |project| %>
          <a href="<%= user_project_url(project) %>"><%= project.name %></a>
        <% end %>
      </div>
      <% end %>
      <div class="financials">
        <ul>
          <li><%= link_to "Income Statement", user_company_income_statement_url %></li>
          <li><%= link_to "Balance Sheet", user_company_balance_sheet_url %></li>
          <li><%= link_to "Cash Flow Statement", user_company_cash_flow_url %></li>
        </ul>
      </div>
      <br><span id="user-email"><%= @user.email %></span>
    </article>
  </section>
</body>