<head>
</head>
<body>
  <%= render :partial => 'shared/logoutheader' %>
  <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
  <section class="company-show group">
    <form action="<%= new_user_project_url %>" method="get" style="float:right">
      <button type="submit" class="new-project-button">Create New Project</button></form>
    <article class="company-content group">
      <div class="company-facts">
        <div class="facts"><strong>Name:</strong> <%= @company.name %></div><br>
        <div class="facts"><strong>HQ:</strong> <%= @company.headquarters %></div><br>
        <% if @company.industries %>
          <strong>Industries:</strong><br>
          <ul class="company-industries">
            <% @company.industries.each do |industry| %>
              <li><%= industry.name %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="facts"><strong>Employees:</strong> <%= @company.employees %></div>
      </div>
      <% if @assumptions %>
      <div class="assumptions">
        <ul><strong>Assumptions</strong><br>
          <% @assumptions.each do |assume| %>
            <% if assume.assumption_type == "growth" %>
              <li> <%= assume.value*100 %>% <%= assume.time_unit %>/<%= assume.time_unit %>
                <%= assume.name %> growth</li>
            <% else %>
            <li>
              <% if assume.value > 1.001 %>
                $<%= assume.value %>mm in <%= assume.name %> per
                <%= assume.time %>
              <% else %>
                <%= assume.value*100 %>% in <%= assume.name %> per
                <%= assume.time %>
              <% end %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="financials">
        <strong>Financials</strong><br>
        <ul>
          <li><a href="<%= user_company_income_statement_url %>">
            Income Statement</a></li>
          <li><a href="<%= user_company_balance_sheet_url %>">
            Balance Sheet</a></li>
          <li><a href="<%= user_company_cash_flow_url %>">
            Cash Flow Statement</a></li>
        </ul>
      </div>
    </article>
  </section>
</body>