<head>
</head>
<body>
  <section class="sidebar group">
    <div class="projects-index">
    <% @projects.each do |project| %>
      <%= link_to project.name user_project_url(project) %>
    <% end %>
  </div>
  <div class="my-profile">
    <%= link_to "My Profile" edit_user_url %>
  </div>
  <div class="company-profile">
    <%= link_to "Company Profile" edit_user_company_url %>
  </div>
  </section>

  <section class="company-show group">
    <!-- something -->
    <% @projects.each do |project| %>
      <a href="<%= user_project_url(project) %>"><%= project.name %></a>
    <% end %>
    <br><%= @company.name %>
    <br><%= @user.name %>
  </section>
</body>