<head>
</head>
<body>
  <%= render :partial => 'shared/logoutheader' %>
  <section class="company-show group">
    <%= render :partial => 'shared/sidebar', locals: {projects: @projects} %>
    <form action="<%= new_user_project_url %>" method="post" style="float:right">
      <button type="submit" class="new-project-button">Create New Project</button></form>
    <article class="company-content">
      <!-- something -->
      <%# @projects.each do |project| %>
        <a href="<%#= user_project_url(project) %>"><%#= project.name %></a>
      <%# end %>
      <br><span id="company-name"><%= @company.name %></span>
      <br><span id="user-email"><%= @user.email %></span>
    </article>
  </section>
</body>