<html>
<head>
  <title>Projectionist</title>
</head>

<body>
  <header class="login-header group">
    <h2><a href="/">Projectionist</a></h2>
    <h3><a href="<%= new_user_registration_url %>">Sign Up</a></h3>
  </header>
  <section class="landing">
    <div class="user-form">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <div><%= f.submit "Sign in" %></div>
      <% end %>
    </div>
    <img id="fake-chart" src="<%= asset_path("fake_chart.png") %>">
  </section>
</body>
</html>