<!DOCTYPE html>
<html>
<head>
  <title>Projectionist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= include_gon %>
</head>
<body>
<% if (notice || alert) %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
